### Maven ###
/target/
!**/src/main/**/target/
!**/src/test/**/target/

### Java ###
*.class
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

### Temporary Files ###
*.tmp
*.swp
*~
/mysql_db/*
